In [1]:
import pandas as pd
import numpy as np
tables = pd.read_html( 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]

In [2]:
tables.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [3]:
tables['Borough'].replace('Not assigned',np.nan,inplace = True)
tables.dropna(subset =['Borough'],axis = 0,inplace = True )
tables.head()

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [5]:
tables.groupby('Postal Code')
tables.reset_index(drop = True,inplace = True)

In [6]:
tables.shape

(103, 3)